@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', sans-serif;
}

h2 {
    color: var(--VeryDarkViolet);
}

p {
    font-family: 'Karla', sans-serif;
}

:root {
    /* Primary: */
    --DarkViolet: hsl(256, 26%, 20%);
    --GrayishBlue: hsl(216, 30%, 68%);

    /* ? Neutral */
    --VeryDarkViolet: hsl(270, 9%, 17%);
    --DarkGrayishViolet: hsl(273, 4%, 51%);
    --VeryLightGray: hsl(0, 0%, 98%);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: var(--VeryLightGray);
    /* height: 100vh; */
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav {
    height: 100vh;
    background-color: var(--VeryDarkViolet);
    text-align: center;
    padding-top: 40px;
    position: relative; 
    display: none;
}

.display-nav {
    display: block;
}

nav ul {
    width: 90%;
    margin-inline: auto;
    list-style: none;
}

nav ul li a {
    font-family: 'Karla', sans-serif;
    color: var(--VeryLightGray);
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
}

.active {
    border: 2px solid white;
    padding-block: 10px;
    display: block;
}

nav ul li {
    margin-bottom: 40px;
}

.nav-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.intro-container {
    position: relative;
}

.intro-top img {
    width: 100%;
    display: block;
}

.intro-bottom {
    position: relative;
    background-color: var(--DarkViolet);
    color: var(--VeryLightGray);
    padding-block: 70px;
    text-align: center;
}

.left-img-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}

.font {
    font-size: 40px;
    letter-spacing: 2px;
}

.width {
    width: 90%;
    margin-inline: auto;
}

.margin {
    margin-bottom: 20px;
}

.sub {
    line-height: 1.6;
}

.container-margin {
    margin-bottom: 120px;
}

button {
    border: 2px solid white;
    background: transparent;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    outline: none;
}

.right-img-container {
    position: absolute;
    right: 0;
    bottom: -20%;
}

section {
    position: relative;
    padding-top: 30px;
    text-align: center;
}

section::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    top: 0;
    width: 40%;
    background-color: var(--GrayishBlue);
    height: 2px;
}

.section-heading {
    color: var(--DarkViolet);
}

.margin2 {
    margin-bottom: 40px;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-sub {
    color: var(--DarkGrayishViolet);
}

.grid-content:not(:last-child){
    margin-bottom: 50px;
}

.work-img-container {
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    padding-block: 70px;
    text-align: center;
    background-color: var(--VeryLightGray);
    position: relative;
}

.logoxsocials {
    padding-bottom: 40px;
    border-bottom: .005rem solid hsl(273, 4%, 51%);
}

.socials {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.links {
    padding-top: 40px;
}

.links-div {
    text-transform: uppercase;
}
.links-div:not(:last-child){
    margin-bottom: 50px;
}

.head,
.subs {
    color: var(--DarkGrayishViolet);
    font-weight: 700;
}

.subs {
    color: var(--VeryDarkViolet);
}
.subs p:not(:last-child){
    margin-bottom: 10px;
}

.footer-img {
    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 1200px){
    h1, h2, h3 {
        font-family: 'DM Serif Display', sans-serif;
        line-height: 1;
    }
    header {
        position: static;
        padding: 10px 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-main {
        display: block;
    }
    .hamburger {
        display: none;
    }
    nav {
        height: auto;
        background: none;
        text-align: left;
        padding-top: 0px;
        display: block;
    }
    .nav-img {
        display: none;
    }
    nav ul {
        width: fit-content;
        margin-inline: unset;
        list-style: none;
        display: flex;
        gap: 25px;
        align-items: center;
    }
    nav ul li a {
        color: var(--DarkGrayishViolet);
        font-size: 14px;
        text-decoration: none;
        font-weight: 700;
        transition: .3s ease;
    }
    nav ul li a:hover {
        color: var(--VeryDarkViolet);
    }
    .active {
        border: 2px solid hsl(270, 9%, 17%);
        padding-block: 0px;
        padding: 10px 30px;
        display: block;
        color: var(--VeryDarkViolet);
        transition: .3s ease;
    }
    .active:hover {
        background-color: hsl(270, 9%, 17%);
        color: var(--VeryLightGray);
    }
    nav ul li {
        margin-bottom: 0px;
    }
    .intro-container {
        position: relative;
        margin-bottom: 400px;
    }
    .intro-top {
        position: absolute;
        z-index: 6;
        right: 6%;
        top: 30%;
    }
    .right-img-container {
        position: absolute;
        right: 0;
        top: 0;
        bottom: -20%;
        z-index: 7;
    }    
    .intro-top img {
        width: 100%;
        display: block;
    }
    .intro-content {
        position: relative;
        padding-top: 40px;
    }
    .intro-content::after {
        position: absolute;
        content: '';
        background-color: var(--VeryLightGray);
        left: 0;
        right: 0;
        top: 0;
        width: 15%;
        height: 1px;
    }
    .sub {
        width: 45%;
    }
    .intro-bottom {
        position: relative;
        background-color: var(--DarkViolet);
        color: var(--VeryLightGray);
        padding-block: 90px;
        text-align: left;
    }
    .left-img-container {
        position: absolute;
        top: unset;
        bottom: -70%;
        left: 0;
    }
    .font {
        font-size: 50px;
        letter-spacing: 2px;
    }
    .width {
        width: 80%;
        margin-inline: auto;
    }
    .margin {
        margin-bottom: 20px;
    }
    .sub {
        line-height: 1.6;
    }
    .container-margin {
        margin-bottom: 120px;
    }
    section {
        position: relative;
        padding-top: 50px;
        text-align: left;
    }
    section::after {
        content: '';
        position: absolute;
        left: 0%;
        transform: none;
        right: 0;
        top: 0;
        width: 10%;
        background-color: var(--GrayishBlue);
        height: 2px;
    }  
    .margin2 {
        margin-bottom: 40px;
    }
    .section-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .grid-content {
        margin-bottom: 0;
    }
    .section-heading {
        margin-bottom: 60px;
    }
    .work-img-container {
        position: absolute;
        top: unset;
        right: 0;
        bottom: 0;
    }
    .bottom2 {
        display: flex;
        align-items: center;
        padding-block: 0px;
        height: 260px;
    }
    .bottom-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .work {
        flex-basis: 55%;
    }
    .grid-img-container {
        margin-bottom: 40px;
    }
    .logoxsocials {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bottom-logo {
        margin-block: auto;
        z-index: 60;
    }
    .socials div {
        cursor: pointer;
        color: #837D88;
        transition: .3s ease;
    }
    .socials div:hover {
        color: var(--VeryDarkViolet);
    }
    .links {
        z-index: 60;
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: left;
        font-size: 14px;
    }
    .links-div{
        margin-bottom: 0px;
    }
    .subs p:not(:last-child){
        margin-bottom: 10px;
    }
    .subs p {
        cursor: pointer;
    }
    .footer-img {
        position: absolute;
        top: 0;
        right: unset;
        left: 0;
    }
}